@import 'tailwindcss';

@theme {
  --color-green: #0ae98a;
  --color-blue: #121f3d;
  --color-darkblue: #13161c;
  --color-skyblue: #0ae98a;

  --font-sans: 'IBM Plex Sans', sans-serif;

  --animate-fade-in-scale: fadeInScale 1s ease-out forwards;
  --animate-fade-in-right: fadeInRight 1s ease-out forwards;
  --animate-fade-in-up: fadeInUp 1s ease-out forwards;

  @keyframes fadeInScale {
    0% {
      opacity: 0;
      transform: scale(1.6);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translateX(20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(32px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.animate-delay-300 {
  animation-delay: 300ms;
}
