---
import { changeLanguage } from 'i18next';
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/home/HeroSection';
import LandingSection from '../components/home/LandingSection';
import Footer from '../components/Footer';
import '@fontsource-variable/ibm-plex-sans';

changeLanguage('es');
---

<Layout
  title="PlatKey - Extensión de Navegador para Platzi | Atajos de Teclado y Herramientas de Productividad"
  description="PlatKey es una extensión de navegador que mejora tu experiencia de aprendizaje en Platzi con atajos de teclado, funciones interactivas y herramientas de productividad para una mejor educación online."
  keywords="PlatKey, Platzi, extensión de navegador, extensión Chrome, extensión Safari, atajos de teclado, aprendizaje online, herramientas educativas, productividad, herramientas de estudio"
  canonical="https://platkey.astronware.com"
  alternateUrls={[
    { hreflang: 'es', href: 'https://platkey.astronware.com' },
    { hreflang: 'en', href: 'https://platkey.astronware.com/en' },
    { hreflang: 'x-default', href: 'https://platkey.astronware.com' }
  ]}
>
  <main>
    <HeroSection client:visible />
    <LandingSection client:visible />
    <Footer />
  </main>
</Layout>
